<a href="https://colab.research.google.com/github/pawansaxena108/Titanic-Dataset/blob/pawansaxena108-patch-1/Basic_Operation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:


my_dict = dict([(2,'ball')])

dict((i,class_weight_dict[j])  for i,j in dict_list_reversed.items())

In [0]:
a=[(1,2),(2,3),(3,4)]

In [0]:
dict(((i,j) for i,j in a))

{1: 2, 3: 4}

In [0]:
l1=[1,2,3]
l2=[4,5,6]
l3=[7,8,9]

In [0]:
gen=(( i for i in zip(l1,l2,l3)))

In [0]:
next(gen),next(gen)

((1, 4, 7), (2, 5, 8))

In [0]:
type((1,'a'))

tuple

In [0]:
a=[[1,2],[3,4]]

In [0]:
((i,j) for i,j in a)

In [0]:
dict((1,2))

In [0]:
filename=['pawan/saxena','swati/rajput']

In [0]:
def func(x):
  return x.split('/')

In [0]:
a=np.array(list(((map(lambda x: x.split('/'),filename)))))

In [0]:
a[:,1]

array(['saxena', 'rajput'], dtype='<U6')

In [0]:
import numpy as np
np.shape(a)

(2, 2)

In [0]:
!rm -rf Titanic-Dataset/

In [0]:
!git clone https://github.com/pawansaxena108/Titanic-Dataset.git

Cloning into 'Titanic-Dataset'...
remote: Enumerating objects: 26, done.
remote: Counting objects: 100% (26/26), done.
remote: Compressing objects: 100% (24/24), done.
remote: Total 26 (delta 5), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (26/26), done.

In [0]:
!git branch testing

fatal: not a git repository (or any of the parent directories): .git

In [0]:
pd.read_csv('/content/sample_data/mnist_train_small.csv')

In [0]:
!git commit -a -m "changes"

fatal: not a git repository (or any of the parent directories): .git

In [0]:
!git branch

fatal: not a git repository (or any of the parent directories): .git

In [0]:
!cd Titanic-Dataset/

In [0]:
!pwd

/content

In [0]:
import os

In [0]:
import zipfile
with zipfile.ZipFile('/content/Titanic-Dataset/titanicdataset-traincsv.zip','r') as zipf:
   zipf.extractall()
   print('done')

done

In [0]:
df1=pd.read_csv('train.csv')

In [0]:
df1.set_index('PassengerId',inplace=True)

In [0]:
df1.index.contains(2)

True

In [0]:
s1=df1.Age

In [0]:
s1.dtype

dtype('float64')

In [0]:
li=[1,2,3,4]
import pandas as pd

In [0]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [0]:
sr3=pd.Series(mydict)

In [0]:
df1[df1.Pclass==3]

In [0]:
from sklearn.model_selection import StratifiedShuffleSplit

In [0]:
splits=StratifiedShuffleSplit(n_splits=2,test_size=.2)
splits.split(df1)

In [0]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [0]:
[ser2.(ser1)]

[0    True
 1    True
 2    True
 3    True
 dtype: bool]

In [0]:
pd.Index(ser1)

Int64Index([10, 9, 6, 5, 3, 1, 12, 8, 13], dtype='int64')

In [0]:
df1.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [0]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

In [0]:
(np.mean(np.square(truth-pred)))

0.3353053630591269

In [0]:
np.square(2)

4

In [0]:
s='pawan'
s[0]

'p'

In [0]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [0]:
ser.apply(lambda x: reduce(np.count(),list(x)))

In [0]:
reduce(np.count(),[1,2,3])

In [0]:
pd.DataFrame(df1.Name.str.split(',').values)

                                                     0
0                           [Braund,  Mr. Owen Harris]
1    [Cumings,  Mrs. John Bradley (Florence Briggs ...
2                            [Heikkinen,  Miss. Laina]
3      [Futrelle,  Mrs. Jacques Heath (Lily May Peel)]
4                          [Allen,  Mr. William Henry]
5                                  [Moran,  Mr. James]
6                           [McCarthy,  Mr. Timothy J]
7                    [Palsson,  Master. Gosta Leonard]
8    [Johnson,  Mrs. Oscar W (Elisabeth Vilhelmina ...
9               [Nasser,  Mrs. Nicholas (Adele Achem)]
10                  [Sandstrom,  Miss. Marguerite Rut]
11                         [Bonnell,  Miss. Elizabeth]
12                   [Saundercock,  Mr. William Henry]
13                      [Andersson,  Mr. Anders Johan]
14             [Vestrom,  Miss. Hulda Amanda Adolfina]
15                 [Hewlett,  Mrs. (Mary D Kingcome) ]
16                             [Rice,  Master. Eugene]
17                     [Williams,  Mr. Charles Eugene]
18   [Vander Planke,  Mrs. Julius (Emelia Maria Van...
19                          [Masselmani,  Mrs. Fatima]
20                             [Fynney,  Mr. Joseph J]
21                            [Beesley,  Mr. Lawrence]
22                      [McGowan,  Miss. Anna "Annie"]
23                     [Sloper,  Mr. William Thompson]
24                    [Palsson,  Miss. Torborg Danira]
25   [Asplund,  Mrs. Carl Oscar (Selma Augusta Emil...
26                          [Emir,  Mr. Farred Chehab]
27                   [Fortune,  Mr. Charles Alexander]
28                    [O'Dwyer,  Miss. Ellen "Nellie"]
29                              [Todoroff,  Mr. Lalio]
..                                                 ...
861                     [Giles,  Mr. Frederick Edward]
862  [Swift,  Mrs. Frederick Joel (Margaret Welles ...
863               [Sage,  Miss. Dorothy Edith "Dolly"]
864                          [Gill,  Mr. John William]
865                        [Bystrom,  Mrs. (Karolina)]
866                    [Duran y More,  Miss. Asuncion]
867            [Roebling,  Mr. Washington Augustus II]
868                     [van Melkebeke,  Mr. Philemon]
869                 [Johnson,  Master. Harold Theodor]
870                               [Balkic,  Mr. Cerin]
871  [Beckwith,  Mrs. Richard Leonard (Sallie Monyp...
872                        [Carlsson,  Mr. Frans Olof]
873                     [Vander Cruyssen,  Mr. Victor]
874           [Abelson,  Mrs. Samuel (Hannah Wizosky)]
875                [Najib,  Miss. Adele Kiamie "Jane"]
876                   [Gustafsson,  Mr. Alfred Ossian]
877                            [Petroff,  Mr. Nedelio]
878                              [Laleff,  Mr. Kristo]
879   [Potter,  Mrs. Thomas Jr (Lily Alexenia Wilson)]
880    [Shelley,  Mrs. William (Imanita Parrish Hall)]
881                              [Markun,  Mr. Johann]
882                    [Dahlberg,  Miss. Gerda Ulrika]
883                   [Banfield,  Mr. Frederick James]
884                          [Sutehall,  Mr. Henry Jr]
885            [Rice,  Mrs. William (Margaret Norton)]
886                           [Montvila,  Rev. Juozas]
887                    [Graham,  Miss. Margaret Edith]
888        [Johnston,  Miss. Catherine Helen "Carrie"]
889                           [Behr,  Mr. Karl Howell]
890                             [Dooley,  Mr. Patrick]

[891 rows x 1 columns]

In [0]:
'pawan,saxena'.split(',')

['pawan', 'saxena']

In [0]:
pd.DataFrame(['pawan,saxena'.split(',')])

       0       1
0  pawan  saxena

In [0]:
import nltk 
from nltk.corpus import stopwords

In [0]:
# Run this cell to mount your Google Drive.
from google.colab import drive
drive.mount('/content/drive')