<a href="https://colab.research.google.com/github/pawansaxena108/Titanic-Dataset/blob/master/Titanic_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install category_encoders

In [1]:
import github

ModuleNotFoundError: ignored

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,MinMaxScaler, OneHotEncoder, LabelEncoder,OrdinalEncoder
from sklearn.compose import ColumnTransformer,make_column_selector as selector,make_column_transformer
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import make_pipeline,Pipeline
import category_encoders as ce
import seaborn as sns 
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer,KNNImputer
from sklearn.metrics import f1_score, roc_auc_score, roc_curve, recall_score, classification_report

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
!pip install scikit-learn --upgrade

In [ ]:
import sklearn
sklearn.__version__

'0.24.2'

In [ ]:
df1=pd.read_excel('/content/train_dataset.xlsx')

In [ ]:
df=df1.copy()

In [ ]:
df[['Survived','Pclass','SibSp','Parch']]=df[['Survived','Pclass','SibSp','Parch']].astype(object)

In [ ]:
df.astype(object).describe()

        PassengerId  Survived  Pclass  ...    Fare Cabin  Embarked
count           891       891     891  ...  891.00   204       889
unique          891         2       3  ...  248.00   147         3
top             891         0       3  ...    8.05    G6         S
freq              1       549     491  ...   43.00     4       644

[4 rows x 12 columns]

In [ ]:
encoder=OneHotEncoder()

In [ ]:
df.isnull().sum()

Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Embarked      2
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Pclass       891 non-null    object
 2   Name         891 non-null    object
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    object
 6   Parch        891 non-null    object
 7   Ticket       891 non-null    object
 8   Fare         891 non-null    float64
 9   Cabin        204 non-null    object
 10  Embarked     891 non-null    object
dtypes: float64(2), int64(1), object(8)
memory usage: 76.7+ KB

In [ ]:
y=df['Survived']
df.drop('Survived',axis=1,inplace=True)

In [ ]:
df['Age']=df.Age.fillna(df.Age.mean())
#df['Embarked']=df['Embarked'].fillna('S')

In [ ]:
df.drop(['Name','PassengerId'],axis=1,inplace=True)

In [ ]:
#df.drop('Cabin',axis=1,inplace=True)

In [ ]:
train_x,test_x,train_y,test_y=train_test_split(df,y,test_size=.2)

In [ ]:
,('encoder2',ce.OneHotEncoder())

In [ ]:
pipeline1=Pipeline([('encoder1',ce.OrdinalEncoder()),('imputer1',KNNImputer()),('encoder2',OneHotEncoder())])

In [ ]:
temp=ce.OneHotEncoder()
print(temp.fit_transform.__doc__)

        Fit to data, then transform it.

        Fits transformer to X and y with optional parameters fit_params
        and returns a transformed version of X.

        Parameters
        ----------
        X : numpy array of shape [n_samples, n_features]
            Training set.

        y : numpy array of shape [n_samples]
            Target values.

        **fit_params : dict
            Additional fit parameters.

        Returns
        -------
        X_new : numpy array of shape [n_samples, n_features_new]
            Transformed array.

In [ ]:
class A:
  ''' this is class A'''
  obj=['pawan']
  def __init__(self):

    print('object created',self)
    self.obj.append(self)
  @enhanceprint
  def print_objects(self):
    print('ordianary')
  def __call__(func):
    def enhanceprint():
      print('I have enhanced ')

In [ ]:
def enhanceprint(func):
  def inner(*args,**kwargs):
    print('enhanced')
    func(args[0])
  return inner

In [ ]:
@enhanceprint
def printme():
  print('I am ordinary')

In [ ]:
A().print_objects()

object created <__main__.A object at 0x7f5c194a2790>
enhanced
ordianary

In [ ]:
OneHotEncoder().fit_transform(temp)

<712x1098 sparse matrix of type '<class 'numpy.float64'>'
	with 6408 stored elements in Compressed Sparse Row format>

In [ ]:
temp=df.select_dtypes(object).astype(str)
df[df.select_dtypes(object).columns]=temp

In [ ]:
,('num',StandardScaler(),selector(dtype_exclude=object))

In [ ]:
transformer=ColumnTransformer([('pipe1',pipeline1,selector(dtype_include=object))])
#ColumnTransformer([('cat',pipeline1,selector(dtype_include=object))])

In [ ]:
transformer.fit_transform(train_x)

In [ ]:
model=DecisionTreeClassifier()
model1=RandomForestClassifier(n_estimators=50,max_depth=3)
pipeline=make_pipeline(transformer,model1)

In [ ]:
sns.countplot('Survived',data=y.to_frame())

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
pipeline.fit(train_x,train_y)

In [ ]:
pipeline.predict(test_x)

In [ ]:
'training score: {0}'.format(pipeline.score(train_x,train_y)),'testing score: {0}'.format( pipeline.score(test_x,test_y))

('training score: 0.7837078651685393', 'testing score: 0.8324022346368715')

In [ ]:
train_x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 539 to 275
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    712 non-null    object
 1   Sex       712 non-null    object
 2   Age       712 non-null    float64
 3   SibSp     712 non-null    object
 4   Parch     712 non-null    object
 5   Ticket    712 non-null    object
 6   Fare      712 non-null    float64
 7   Embarked  712 non-null    object
dtypes: float64(2), object(6)
memory usage: 50.1+ KB

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
pipeline.get_params()

{'columntransformer': ColumnTransformer(n_jobs=None, remainder='drop', sparse_threshold=0.3,
                   transformer_weights=None,
                   transformers=[('cat',
                                  BinaryEncoder(cols=None, drop_invariant=False,
                                                handle_missing='value',
                                                handle_unknown='value',
                                                mapping=None, return_df=True,
                                                verbose=0),
                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7faf62593990>),
                                 ('num',
                                  StandardScaler(copy=True, with_mean=True,
                                                 with_std=True),
                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7faf622bba90>)],
                   verbose=False),
 'columntransformer__cat': BinaryEncoder(cols=None, drop_invariant=False, handle_missing='value',
               handle_unknown='value', mapping=None, return_df=True, verbose=0),
 'columntransformer__cat__cols': None,
 'columntransformer__cat__drop_invariant': False,
 'columntransformer__cat__handle_missing': 'value',
 'columntransformer__cat__handle_unknown': 'value',
 'columntransformer__cat__mapping': None,
 'columntransformer__cat__return_df': True,
 'columntransformer__cat__verbose': 0,
 'columntransformer__n_jobs': None,
 'columntransformer__num': StandardScaler(copy=True, with_mean=True, with_std=True),
 'columntransformer__num__copy': True,
 'columntransformer__num__with_mean': True,
 'columntransformer__num__with_std': True,
 'columntransformer__remainder': 'drop',
 'columntransformer__sparse_threshold': 0.3,
 'columntransformer__transformer_weights': None,
 'columntransformer__transformers': [('cat',
   BinaryEncoder(cols=None, drop_invariant=False, handle_missing='value',
                 handle_unknown='value', mapping=None, return_df=True, verbose=0),
   <sklearn.compose._column_transformer.make_column_selector at 0x7faf62593990>),
  ('num',
   StandardScaler(copy=True, with_mean=True, with_std=True),
   <sklearn.compose._column_transformer.make_column_selector at 0x7faf622bba90>)],
 'columntransformer__verbose': False,
 'memory': None,
 'randomforestclassifier': RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                        criterion='gini', max_depth=3, max_features='auto',
                        max_leaf_nodes=None, max_samples=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, n_estimators=50,
                        n_jobs=None, oob_score=False, random_state=None,
                        verbose=0, warm_start=False),
 'randomforestclassifier__bootstrap': True,
 'randomforestclassifier__ccp_alpha': 0.0,
 'randomforestclassifier__class_weight': None,
 'randomforestclassifier__criterion': 'gini',
 'randomforestclassifier__max_depth': 3,
 'randomforestclassifier__max_features': 'auto',
 'randomforestclassifier__max_leaf_nodes': None,
 'randomforestclassifier__max_samples': None,
 'randomforestclassifier__min_impurity_decrease': 0.0,
 'randomforestclassifier__min_impurity_split': None,
 'randomforestclassifier__min_samples_leaf': 1,
 'randomforestclassifier__min_samples_split': 2,
 'randomforestclassifier__min_weight_fraction_leaf': 0.0,
 'randomforestclassifier__n_estimators': 50,
 'randomforestclassifier__n_jobs': None,
 'randomforestclassifier__oob_score': False,
 'randomforestclassifier__random_state': None,
 'randomforestclassifier__verbose': 0,
 'randomforestclassifier__warm_start': False,
 'steps': [('columntransformer',
   ColumnTransformer(n_jobs=None, remainder='drop', sparse_threshold=0.3,
                     transformer_weights=None,
                     transformers=[('cat',
                                    BinaryEncoder(cols=None, drop_invariant=False,
                                                  handle_missing='value',
                                                  handle_unknown='value',
                                                  mapping=None, return_df=True,
                                                  verbose=0),
                                    <sklearn.compose._column_transformer.make_column_selector object at 0x7faf62593990>),
                                   ('num',
                                    StandardScaler(copy=True, with_mean=True,
                                                   with_std=True),
                                    <sklearn.compose._column_transformer.make_column_selector object at 0x7faf622bba90>)],
                     verbose=False)),
  ('randomforestclassifier',
   RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                          criterion='gini', max_depth=3, max_features='auto',
                          max_leaf_nodes=None, max_samples=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=50,
                          n_jobs=None, oob_score=False, random_state=None,
                          verbose=0, warm_start=False))],
 'verbose': False}

In [ ]:
grid=GridSearchCV(pipeline,param_grid={'randomforestclassifier__max_depth':[3,4,5]})

In [ ]:
sns.heatmap(df1.corr())

In [ ]:
pd.crosstab(df.Sex,df.Embarked,normalize=True)

Embarked         C         Q         S
Sex
female    0.082115  0.040495  0.228346
male      0.106862  0.046119  0.496063

In [ ]:
grid.fit(train_x,train_y)

GridSearchCV(cv=None, error_score=nan,
             estimator=Pipeline(memory=None,
                                steps=[('columntransformer',
                                        ColumnTransformer(n_jobs=None,
                                                          remainder='drop',
                                                          sparse_threshold=0.3,
                                                          transformer_weights=None,
                                                          transformers=[('cat',
                                                                         BinaryEncoder(cols=None,
                                                                                       drop_invariant=False,
                                                                                       handle_missing='value',
                                                                                       handle_unknown='value',
                                                                                       mapping=None,
                                                                                       return_df=True,
                                                                                       verbose=0),
                                                                         <sklearn.c...
                                                               min_impurity_split=None,
                                                               min_samples_leaf=1,
                                                               min_samples_split=2,
                                                               min_weight_fraction_leaf=0.0,
                                                               n_estimators=50,
                                                               n_jobs=None,
                                                               oob_score=False,
                                                               random_state=None,
                                                               verbose=0,
                                                               warm_start=False))],
                                verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid={'randomforestclassifier__max_depth': [3, 4, 5]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [ ]:
grid.best_score_

0.810371318822023

In [ ]:
import pickle

In [ ]:
file=open('model.pkl','wb')
pickle.dump(model,file)

In [ ]:
from datetime import datetime

In [ ]:
datetime.strftime(datetime.today(),format='%m')

'07'

In [ ]:
datetime.strptime('04-05-2023','%d-%m-%Y')

datetime.datetime(2023, 5, 4, 0, 0)

In [ ]:
df=pd.read_csv('Instagram_Data.csv')

In [ ]:
pd.to_datetime(df['Date Posted'],format='%Y-%m-%d %H:%M:%S')

0       2019-05-12 21:18:39
1       2019-05-12 14:25:55
2       2019-05-03 15:18:37
3       2019-05-02 16:40:38
4       2019-04-25 16:51:58
                ...
80219   2018-10-22 19:58:36
80220   2018-10-21 03:47:34
80221   2018-10-04 16:31:43
80222   2018-09-30 00:32:20
80223                   NaT
Name: Date Posted, Length: 80224, dtype: datetime64[ns]

In [ ]:
from dateutil import parser
df['Date Posted'].fillna('2019-05-12',inplace=True)

In [ ]:
df.set_index((pd.to _datetime(df["Date Posted"]))).loc["2019-05":"2019-06",'Type']

Date Posted
2019-05-12 21:18:39     Image
2019-05-12 14:25:55     Image
2019-05-03 15:18:37    Images
2019-05-02 16:40:38    Images
2019-06-30 16:39:44    Images
                        ...
2019-05-19 08:12:43     Image
2019-05-19 03:59:12     Image
2019-05-10 21:24:53     Image
2019-05-10 16:14:11     Image
2019-05-12 00:00:00       Ima
Name: Type, Length: 2247, dtype: object

In [ ]:
!pip install python-dateutil

Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil) (1.15.0)

In [ ]:
df.head()

   User uuid  Likes  Days passed from post  ...  Day Hour  Minute
0          1    506                    657  ...   12   21      18
1          1    385                    657  ...   12   14      25
2          1    373                    666  ...    3   15      18
3          1    312                    667  ...    2   16      40
4          1    513                    674  ...   25   16      51

[5 rows x 13 columns]

In [ ]:
bin_encod=ce.BinaryEncoder(drop_invariant=True)

In [ ]:
one,two=train_test_split(df1.Ticket,test_size=.1)

In [ ]:
bin_encod.fit(one)

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

BinaryEncoder(cols=None, drop_invariant=True, handle_missing='value',
              handle_unknown='value', mapping=None, return_df=True, verbose=0)

In [ ]:
bin_encod.transform(one)

     Ticket_1  Ticket_2  Ticket_3  ...  Ticket_8  Ticket_9  Ticket_10
608         0         0         0  ...         0         0          1
728         0         0         0  ...         0         1          0
102         0         0         0  ...         0         1          1
54          0         0         0  ...         1         0          0
211         0         0         0  ...         1         0          1
..        ...       ...       ...  ...       ...       ...        ...
616         0         1         0  ...         1         0          0
591         0         0         0  ...         0         1          0
499         1         0         0  ...         1         1          0
328         1         0         0  ...         0         1          1
508         1         0         0  ...         1         1          1

[801 rows x 10 columns]

In [ ]:
df.isna().sum()

In [ ]:
df['Date Posted'].astype('datetime64').dt.strftime('%a')

0         Sun
1         Sun
2         Fri
3         Thu
4         Thu
         ...
178917    Thu
178918    Wed
178919    Wed
178920    Wed
178921    Tue
Name: Date Posted, Length: 178922, dtype: object

In [ ]:
list1=[i for i in range(1,10)]
sum(list1)

45

In [ ]:
lst1=list(range(10))

In [ ]:
itr=lst1.__iter__()

In [ ]:
while True:
 try:
   print( next(itr))
 except:
   print('exception caught'  )
   break

In [ ]:
def func():
  x=0
  while True:
   yield x
   x+=1

In [ ]:
func=func()

In [ ]:

def fibnoacci(num):
    x,y=0,1
    for _ in range(num-2):
     x,y=y,x+y
     yield x

8

In [ ]:
func()

0

In [ ]:
while True:
  try:
    print(next(fib))
  except:
    print('stop')  
    break

stop

In [ ]:
file=open('/content/test (2).csv','r')

In [ ]:
with  open('/content/test (2).csv','r') as file1:

 list2=file1.readlines(100)

In [ ]:
import pandas as pd
pd.DataFrame((map(lambda x: x.split(','),list2)))

    0  ...                        4
0  id  ...                     None
1   0  ...                     None
2   2  ...   stay safe everyone."\n

[3 rows x 5 columns]

In [ ]:
list1=list(range(10))
tuple1=tuple(range(10))

In [ ]:
def func(obj):
 obj[3]**2
 print(obj)

In [ ]:
func(list1)
list1

In [ ]:
list1[3]**2

9

In [ ]:
@smart_div
def div(a,b):
  return a/b

In [ ]:
div(5,2)

2.5

In [ ]:
div(5,2)

2.5

In [ ]:
def smart_div(func):
  def inner(*args,**kargs):
    a, b= args
    try:
      func(a,b)
    except:
      print('oops! can divide by zero')
  return inner

In [ ]:
# block comment
class MyDecorator:   
  
  def __init__(self,f):
    self.__f=f
    
  def __call__(self,*args,**kargs):
    print('I will decorate now',args[0])
    return self.f(*args)

In [ ]:
obj1=MyDecorator(2)

In [ ]:
[i for i in enumerate(range(2))][0]

(0, 0)

In [ ]:
MyDecorator.a

9

In [ ]:
obj2=MyDecorator(3)
obj2.a

9

9

In [ ]:
obj2.a

0

In [ ]:
import decorators
import decorator

In [ ]:
obj=MyDecorator(2)

In [ ]:
obj.a

0

In [ ]:
@timer
def f(var):
  print('without decoration')

In [ ]:
f('ho')

I will decorate now ho
without decoration

In [ ]:
import itertools

In [ ]:
list1=list(range(10))

In [ ]:
iter1=itertools.count(0,1)

In [ ]:
for _ in range(10):
  print((iter1).__next__())

30
31
32
33
34
35
36
37
38
39

In [ ]:
string='pawan'

In [ ]:
if string.count('a'):

SyntaxError: ignored